container {margin-top:50px; margin-left:100px; margin-right:100px;}
h1 {border:1px solid #D6A800; background-color:#7d4600; color: #a4b0f5; padding:10px;}
h2 {border:1px solid #D6A800; background-color:#7d4600; color: #a4b0f5; padding:10px;}
h3 {border:1px solid #D6A800; background-color:#7d4600; color: #a4b0f5; padding:10px;}
h4 {border:1px solid #D6A800; background-color:#7d4600; color: #a4b0f5; padding:10px;}
a:link {
	text-decoration: none; color: #f58f29;}
a:visited {color: #f58f29;}
a:hover {color: #f58f29;}