1.h1 {text-align: center;}
.left {width: 45%; }
.right {width: 45%;}
.middle {width: 45%; }
.h3 {font-weight: 500;}
.li {font-weight: 300;}
.ol {border: 1px solid red;border-radius: 15px; padding: 10px;}
.ul {border: 1px dashed red; border-radius: 15px; padding: 10px; list-style-type: upper-roman;}
a:hover {text-decoration: underline;}
